
/* Import thingy for the fonts*/
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@300;400;700&display=swap");

/* Primary Font*/
h1, h2, h3, h4 {
  font-family: "Bangers", sans-serif;
}

/* Secondary Font */
p, span, li {
  font-family: "Comic Neue", sans-serif;
}

/* padding for the header*/
body {
    padding-top: 80px;
}

/*hero page class*/
.hero {
    height: 100vh; /* full viewport */
    width: 100%;
    background: url('../images/herobkg2.png') repeat-y; /* corrected path */
    background-size: 100%;
    background-position: top left;
    animation: scrollBg 480s linear infinite;
}
.hero-tilt {
  height: calc(100vh - 80px); /* 80px = header height */
    width: 100%;
    background: url('../images/Artboard1.png') repeat-y;
    background-size: cover; /* better than 100% for tiling */
    animation: scrollBg 480s linear infinite;
    overflow: hidden;
}

.tilt-box {
    transform-style: preserve-3d;
}

.pop {
    transform: translateZ(30px);
}

/*paralax animation keyframes*/
@keyframes scrollBg {
    0% { background-position-y: 0; }
    100% { background-position-y: 100%; } /* adjust speed */
}

/*for the forum cards*/
#popup-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  display: none;
  z-index: 900;
}

/*for the forum cards*/
.popup-card {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 25px;
  width: 380px; /* If your template is bigger, increase this */
  border-radius: 12px;
  display: none;
  z-index: 999;
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}