{% extends 'base.html' %}
{% block title %}Toonix{% endblock %}
{% block content%}

<div class="container">

    <div class="row pt-5">
        <div class="col">
            <h1>Join us and read to your heart's content!</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">enter the scoll thingy here</div>
    </div>
    <div class="row">
        <div class="col">
            <form method="POST" action="/search">
                <input type="text" name="query" placeholder="Search manga..." value="{{ query }}">
                <button type="submit">Search</button>
                </form>

                <ul>
                    {% for manga in results %}
                    <li>
                        <a href="{{ url_for('view_manga', manga_id=manga['id']) }}">
                            {{ manga['attributes']['title']['en'] or 'No Title' }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
        </div>
    </div>
</div>



{% endblock %}